<<<<<<< HEAD
* {
=======
*,
*:before,
*:after {
>>>>>>> 0b272952869b73686903874aa1217c5c0d23663f
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1;
  font-family: sans-serif;
}

<<<<<<< HEAD
h1,
=======
​h1,
>>>>>>> 0b272952869b73686903874aa1217c5c0d23663f
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

<<<<<<< HEAD
input,
=======
​input,
>>>>>>> 0b272952869b73686903874aa1217c5c0d23663f
select,
option,
optgroup,
textarea,
button,
pre,
code {
  font-size: 100%;
  font-family: inherit;
}

<<<<<<< HEAD
ol,
ul {
  list-style: none;
}
=======
​ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
>>>>>>> 0b272952869b73686903874aa1217c5c0d23663f
