/* Declare all variables for later use */
:root {
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --neon-blue: #97E1ED;
    --wheat-field: #F4F2D4;
    --gray-blue: #44536A;
    --gold: #EFE79E;
    --gray: #D3DCDA;
    --river-bed: #48555B;
    --orange: #F38950;
    --whiskey: #E88553;
    --neon-blue: #2EBDD1;
    --shuttle-gray: #566679;
    --white: white;
    --darkgray: darkgray;
    --black: black;
    --charcoal: #444746;
    --blue: #1183d6;
    --gray-text: #bbb;
}

/* ================================================================ */
html {
    height: 100%;
    width: 100%;
    font-size: 62.5%;
}


body {
    height: 100%;
    background-color: var(--gray-blue);
    margin: 0;
    color: var(--black);
}

header {
    color: var(--whiskey);
    font-weight: bold;
}

main {
    background-color: var(--gray);
    overflow: auto;
}


a {
    font-size: 1.5rem;
}

td {
    font-size: 1.5rem;
}

/* ============header=========== */
header a:hover {
    color: var(--white);
    text-decoration: underline;
}

h1:hover {
    cursor: pointer;
}

/* ============side panel========== */
side {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem 1rem 1.5rem;
}
#addressInput {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
}

#search-bar {
    border: 1px solid currentColor;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 5px 60px 5px 5px;
    box-shadow: 1px 1px 0 1px var(--darkgray);
    position: relative;
}

#search-bar #filter-Btn {
    color: var(--charcoal);
    overflow: hidden;
    min-width: 24px;
    min-height: 24px;
    position: absolute;
    top: 0.5rem;
    right: 30px;
    border-radius: 50%;
}

#search-bar #filter-Btn:focus {
    box-shadow: 0 0 3px 0 var(--blue);
    border-color: var(--black);
    outline: none;
}

#search-bar .search-icon {
    position: absolute;
    top: 0.7rem;
    right: 4px;
}

input[type="text"] {
    border: none;
    background: transparent;
    font-size: 1.5rem;
    color: inherit;
    overflow: hidden;
    width: 100%;
}

input[type="text"]:focus {
    box-shadow: 0 0 3px 0 var(--blue);
    border-color: var(--blue);
    outline: none;
}

input[type="text"]::placeholder {
    color: var(--gray-text);
}

i {
    font-size: 2rem;
}

strong {
    font-weight: bold !important;
}

.search-results {
    overflow-y: scroll;
}

#results:hover {
    cursor: pointer;
}

tr:hover {
    font-style: italic;
    text-decoration: underline;
}

tr:nth-child(odd) {
    background-color: var(--wheat-field);
    border-bottom: 1px solid black;
}

tr:nth-child(even) {
    background-color: var(--shuttle-gray);
    border-bottom: 1px solid black;
    color: white;
}

#more {
    background-color: var(--river-bed);
    color: white;
    height: 3rem;
    font-size: 1.5rem;
}

#more[disabled='disabled'] {
    background-color: var(--gray);
    color: var(--shuttle-gray);
}
/* ======= map container =========== */
#map {
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: hidden;
}

.custom-map-control-button {
    height: 3.5rem;
    margin: 1rem;
    border-radius: 5px;
    border: 1px solid black;
    font-size: medium;
    padding: 0 0.5rem;
    background-color: var(--white);
    color: var(--black);
}

#weather-info {
    background-color: white;
    opacity: 0.8;
    padding-left: 6px;
    padding-right: 6px;
    height: 25px;
    line-height: 25px;
    font-size: 20px;
    font-weight: 900;
}

#infowindow {
    display: flex;
    flex-direction: column;
}

.parkingIcon {
    max-height: 20px;
    margin-right: 5px;
}

.streetview {
    width: 100%;
    height: 200px;
    margin: 0 auto;
}

.feedback {
    display: flex;
    align-items: flex-end;
    font-weight: bold;
    column-gap: 5px;
}

.active {
    color: var(--neon-blue);
}

.hide {
    display: none;
}

.history {
    height: fit-content;
    background-color: var(--gray);
    width: 100%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 1px 1px 0 2px var(--darkgray);
    overflow: hidden;
    position: absolute;
    top: 34px;
    left: 0px;
    z-index: 5;
}

.history h2 {
    font-size: 15px;
    padding: 5px 5px 5px 10px;
    font-weight: bold;
}

.historyItem {
    display: flex;
    align-items: center;
}

.history i {
    padding-left: 10px;
    font-size: 15px;
}

.history a {
    font-size: 15px;
    padding-left: 10px;
    margin: 5px;
}

.history a:hover {
    color: var(--blue);
}
