/* Declare all variables for later use */
:root {
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* ================================================================ */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    background-color: #44536A;
    background: url('https://assets-au-01.kc-usercontent.com/be08d7b0-97a1-02f9-2be6-a0c139c3c337/5e63d65d-e59e-4777-8877-be3bda662be3/20161110_SDP_10602.jpg?w=2048&fm=jpg&auto=format') center/cover fixed;
    color: #fff;
}

main {
    height: 89%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.header {
    background-color: #4a90e2;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.search-container {
    width: 100%;
    max-width: 320px;
}

.search-bar {
    display: flex;
    margin-bottom: 1rem;
}

#search-address {
    flex-grow: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#search-result, .history {
    background-color: #f0f0f0;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: initial; 
}

.map-container {
    width: 100%;
    height: 100%;
}

#map {
    height: 100%;
    width: 100%;
    z-index: 1;
}

.custom-map-control-button {
    height: 2rem;
    margin: 1rem;
    border-radius: 5px;
    font-size: medium;
    padding: 0 0.5rem;
    background-color: #fff;
    color: initial;
}
